.editorconfig
CODE_OF_CONDUCT.md
Dockerfile
README.md
logo.png
LICENSE

node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

dist
out-tsc
bazel-out
coverage

.vscode
.idea

.DS_Store
Thumbs.db

.git
.gitignore